@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body{
    font-family: 'Lato', sana-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark; 
}

img.primary-logo{
    width: 100px;
  }
  
img.cart-logo{
    width: 47px;
    left: 15px;
}

nav li a{
    transition: $smooth;
    &:hover{
        color: $primary;
    }
}

section.hero{
    background: $secondary;
}

.size{
    background: $secondary;
}

.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $white;
        color: $white;
    }
    &:focus{
        outline: none;
    }
}

.btn-primary{
    background: $primary;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}

section.cart{
    background: $secondary;
    .amount{
        color: $primary;
    }
}

section.login{
    background: $secondary;
    min-height: 100vh;
    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}

section.register{
    background: $secondary;
    min-height: 100vh;
    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}


button:focus {
    outline: 0px dotted;
    outline: 0px;
}

.incrment-number{
    padding-right: .5rem;
    position: relative;
    left: -6px;
    top: 25px;
    margin-left: 0px;
}

li.ml-6.inline-block.flex.items-center {
    margin-bottom: 22px;
}

a.link{
    color: $primary;
}